@import '../../../css/general_styling';

.TableFilters {
  display: flex;
  padding: 20px 60px;
  .ant-btn,
  .ant-input-affix-wrapper,
  .ant-picker {
    @include primary-title(12px, $secondary-color);
    border-color: $secondary-color;
    border-radius: 6px;
    height: 40px;
    &:hover {
      color: $secondary-color;
      border-color: $secondary-color;
    }
    width: 15%;
    text-align: left;
  }

  .ant-input-suffix {
    margin-top: 5px;
  }

  .ant-btn .anticon-down {
    position: absolute;
    right: 15px;
    top: 14px;
  }
  .ButtonPrimary {
    height: 40px;
  }

  .input,
  .datepicker,
  .dropdown {
    margin-right: 15px;
  }
}
