@import '../../../css/general_styling';
@import '../../../css/modal';

.identity-actions {
  display: flex;
  justify-content: space-evenly;
}

.footer {
  width: 100%;
  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
