.CredentialDetail {
    padding-left: 25px;

    .ant-descriptions-item-content {
        background-color: white;
    }

    .ant-descriptions-item-label {
        /* background-color: #484B57 !important; */ 
        background-color: #c9c9c969 !important;
        
        /* color: white; */
      }

    /*     .ant-descriptions {
        &-row {
            vertical-align: top;
        }
        &-item {
            padding-bottom: 0px !important;
            &-label {
                font-weight: 400;
                font-size: 12px;
            }
            &-content {
                color: black;
                padding-bottom: 8px;
                padding-right: 20px;
                width: 100%;
            }
        }
    } */
}