@import '../../../css/general_styling';

.RevokeCredentials {
  text-align: center;
  .title h1 {
    @include primary-title($title-secondary, $secondary-color);
    margin-bottom: 0.5em;
  }
  .body {
    @include primary-text($body, $secondary-color);
  }
  .ant-modal-footer {
    display: none;
  }
  button {
    height: 37px;
    margin: 5px;
    margin-top: 15px;
  }
}
