@import '../../../css/general_styling';

.FileUploader {
  .hidden {
    display: none;
  }

  .ant-upload.ant-upload-drag {
    margin: 35px 0;
    &:not(.ant-upload-disabled):hover {
      border-color: #b4b7ff;
      background-color: #fdfefe;
      transition: all 0.9s;
      transition: ease-out 0.9s;
    }
    .ant-upload-btn {
      height: 105px;
    }
    p.ant-upload-text {
      @include label(12px, $secondary-color);
    }
    .ant-upload-hint {
      font-size: 12px;
    }
  }
  .preview {
    .ant-upload-list {
      line-height: 55px;
      margin: 2em 0;
      padding: 0 1em;
      .ant-upload-list-item {
        height: 55px;
        margin: 0px;
        border-top: solid 1px $light-grey;
        border-bottom: solid 1px $light-grey;
        .ant-upload-list-item-info .anticon-loading .anticon,
        .ant-upload-list-item-info .ant-upload-text-icon .anticon {
          top: 20px;
        }
        .ant-upload-list-item-name {
          @include primary-text($body, $secondary-color);
          margin-top: 16px;
        }
      }
    }
    .message {
      @include primary-text($body, $primary-color);
    }
  }

  .buttonSection {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
}
