@import '../../../css/general_styling';
@import '../../../css/modal';

.identity-actions {
  display: flex;
  justify-content: start !important;

  button {
    margin-right: 20px;
  }
}

.footer {
  width: 100%;
  text-align: center;
  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
